#piece-o {
    .tet-group:first-child {
    flex-direction: row-reverse;
    order: 1;
    }
    .tet-piece {
        background-color: #FEF94C;
    }
}


#piece-i .tet-piece {
    order: 1;
    background-color: #51E2FC;
}


#piece-s {
    .tet-group:last-child {
        order: 2;
    }
    .tet-group:first-child {
        order: 1;
        .inner-block:nth-child(3), .inner-block:nth-child(4) {
            order: 2;
        }
        .tet-piece {
            order: 1;
        }
    } 
    .tet-piece {
        background-color: #EA3D1E;
    }
}


#piece-z {
    .tet-group:first-child {
        flex-direction: row-reverse;
        order: 1;
    }
    .tet-group:last-child {
        order: 2;
        .inner-block:nth-child(3),.inner-block:nth-child(4) {
            order:2;
        }
        .tet-piece {
            order: 1;
        }
    }
    .tet-piece {
        background-color: #79AF3D;
    }
}


#piece-l {
    .tet-group:first-child {
        flex-direction: row-reverse;
    }
    .tet-group:nth-child(3) {
        order: 2;
    }
    .tet-group:nth-child(2), .tet-group:nth-child(5) {
        order: 3;
    }
    .tet-group:nth-child(4) {
        .tet-piece {
            order: -1;
        }
    }
    .tet-piece {
        background-color: #F69230;
    }
}


#piece-j {
    .tet-group:first-child, .tet-group:nth-child(2) {
        flex-direction: row-reverse;
        order: 1;
    }
    .tet-group:last-child {
        order: 2;
    }
    .tet-piece {
        background-color: #F16EB9;
    }
}


#piece-t {
    flex-direction: row;

    .tet-group {
    flex-direction: column;
    }

    .tet-group:first-child {
        flex-direction: column-reverse;
        order: 1;
    }
    .tet-group:nth-child(3) {
        order: 2;
        .inner-block:nth-child(3), .inner-block:nth-child(4) {
            order: 1;
        }
    }
    .tet-group:nth-child(2) {
        order: 3;
        .inner-block:last-child {
            order: 2;
        }
        .tet-piece {
            order: 1;
        }
    }
    .tet-piece {
        background-color: #953693;
    }
}


#tet-colors {
    margin: 25px 40px 0 15px;

    ul {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
    }
    
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .color-preview {
        height: 25px;
        width: 25px;
        border-radius: 50%;
    }
        
    li:first-child div.color-preview {
        background-color: #EA3D1E;
    }
    
    li:nth-child(2) div.color-preview {
        background-color: #F69230;
    }

    li:nth-child(3) div.color-preview {
        background-color: #FEF94C;
    }

    li:nth-child(4) div.color-preview {
        background-color: #79AF3D;
    }

    li:nth-child(5) div.color-preview {
        background-color: #51E2FC;
    }

    li:nth-child(6) div.color-preview {
        background-color: #953693;
    }

    li:nth-child(7) div.color-preview {
        background-color: #F16EB9;
    }    
}


main article h2, main p, .task-box > h2 {
    font-family: initial;
}


.task-box {
    mark, b, i {
    margin: 0;
    }
}