#piece-o .tet-group:first-child {
    flex-direction: row-reverse;
    order: 1;
}

#piece-i .tet-piece {
    order: 1;
}

#piece-s {
    .tet-group:last-child {
        order: 2;
    }
    .tet-group:first-child {
        order: 1;
        .inner-block:nth-child(3), .inner-block:nth-child(4) {
            order: 2;
        }
        .tet-piece {
            order: 1;
        }
    } 
}

#piece-z {
    .tet-group:first-child {
        flex-direction: row-reverse;
        order: 1;
    }
    .tet-group:last-child {
        order: 2;
        .inner-block:nth-child(3),.inner-block:nth-child(4) {
            order:2;
        }
        .tet-piece {
            order: 1;
        }
    }
}

#piece-l {
    .tet-group:first-child {
        flex-direction: row-reverse;
    }
    .tet-group:nth-child(3) {
        order: 2;
    }
    .tet-group:nth-child(2), .tet-group:nth-child(5) {
        order: 3;
    }
    .tet-group:nth-child(4) {
        .tet-piece {
            order: -1;
        }
    }
}

#piece-j {
    .tet-group:first-child, .tet-group:nth-child(2) {
        flex-direction: row-reverse;
        order: 1;
    }
    .tet-group:last-child {
        order: 2;
    }
}



#piece-t {
    flex-direction: row;

    .tet-group {
    flex-direction: column;
    }

    .tet-group:first-child {
        flex-direction: column-reverse;
        order: 1;
    }
    .tet-group:nth-child(3) {
        order: 2;
        .inner-block:nth-child(3), .inner-block:nth-child(4) {
            order: 1;
        }
    }
    .tet-group:nth-child(2) {
        order: 3;
        .inner-block:last-child {
            order: 2;
        }
        .tet-piece {
            order: 1;
        }
    }
}

#tet-colors {
    margin: 25px 15px;

    ul {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
    }
    
    li {
        display: flex;
        justify-content: space-evenly;
    }

    .color-preview {
        height: 10px;
        width: 10px;
        background-color: red;
    }
}

