/* .tet-group {
    display: flex;
    flex-direction: row;
} */

#piece-o .tet-group:nth-child(1) {
    flex-direction: row-reverse;
    order: 4;
}

#piece-i .tet-piece {
    order: 1;
}

#piece-s .tet-group:nth-child(1) {
    order: ;   
}
